---
---
$lightgreen: rgb(130, 185, 164);
$darkgreen: rgb(64, 107, 101);
$darktext: #333;
$darktexthover: lighten($darktext, 10%);
$lighttext: #fff;
$lighttexthover: darken($lighttext, 10%);

@import url("http://fonts.googleapis.com/css?family=Amatic+SC");
@font-face {
  font-family: "Pill Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("{{ "/fonts/Pill-Gothic-300mg/Pill_Gothic_300mg_Regular.ttf" | prepend: site.baseurl }}");
}
@font-face {
  font-family: "Pill Gothic";
  font-style: normal;
  font-weight: 300;
  src: url("{{ "/fonts/Pill-Gothic-300mg/Pill_Gothic_300mg_Light.ttf" | prepend: site.baseurl }}");
}

body {
  font-family: "Pill Gothic", sans-serif;
  font-weight: 300;
}

.navbar {
  text-transform: uppercase;
  background: transparent;
  border-bottom: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;;
  transition: all 0.5s ease-in-out;
  .nav {
    li {
      a {
        color: $darktext;
        &:hover {
          color: $darktexthover;
        }
      }
    }
  }
  .navbar-brand {
    color: $darktext;
    &:hover {
      color: $darktexthover;
    }
  }
  .navbar-toggle {
    border: none;
    color: $darktext;
    &:hover {
      color: $darktexthover;
      background-color: transparent;
    }
  }
  .navbar-collapse {
    background-color: $darkgreen;
    li {
      a {
        color: $lighttext;
        &:hover {
          color: $lighttexthover;
        }
      }
    }
  }
  @media(min-width:768px) {
    padding: 15px 0;
    .navbar-collapse {
      background-color: transparent;
      li {
        a {
          color: $darktext;
          &:hover {
            color: $darktexthover;
          }
        }
      }
    }
  }
}

.navbar-smaller {
  background: $darkgreen;
  .nav {
    li {
      a {
        color: $lighttext;
        &:hover {
          color: $lighttexthover;
        }
      }
    }
  }
  .navbar-brand {
    color: $lighttext;
    &:hover {
      color: $lighttexthover;
    }
  }
  .navbar-toggle {
    color: $lighttext;
    &:hover {
      color: $lighttexthover;
    }
  }
  @media(min-width:768px) {
    padding: 0 0;
  }
}

#intro {
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: url("{{ "/images/main.jpg" | prepend: site.baseurl }}") no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    font-family: "Amatic SC", serif;
    font-size: 40px;
    text-transform: uppercase;
  }
  p {
    font-weight: 300;
    font-size: 18px;
  }
  i {
    padding: 0 4px;
    font-size: 14px;
  }
  a {
    color: $darktext;
  }
  @media(min-width:768px) {
    h1 {
      font-size: 72px;
    }
    p {
      font-size: 28px;
    }
    i {
      font-size: 20px;
    }
  }
}

.divider, .section {
  background-color: $lightgreen;
}

.divider {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: $darkgreen;
  font-size: 24px;
  p {
    padding-bottom: 0;
  }
  img {
    width: 75px;
  }
  i {
    padding: 0 20px;
  }
}

#theday {
  img {
    padding: 0 20px;
    width: 120px;
  }
}

.section {
  padding-top: 50px;
  margin-top: -50px;
  color: #fff;
  text-align: center;
  h2 {
    margin-bottom: 30px;
    font-family: "Amatic SC", serif;
    font-size: 46px;
    color: $darkgreen;
    text-transform: uppercase;
  }
  h4 {
    color: $darkgreen;
  }
  p, ul {
    font-size: 18px;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  a:hover {
      color: $darkgreen;
  }
}

#footer {
  padding: 20px 0;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #606060;
  @media(min-width:768px) {
    padding: 50px 0;
    font-size: 20px;
  }
}
